#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100vw;
}

@media only screen and (min-width: 600px) {
    
    #logo{
        width:600px;
        margin: auto;
    }
    
}
@media only screen and (max-width: 600px) {

    #logo{
        width: 80vw;
    }
}