form #user{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 1vh;
    width: 30vw;
}
form #pass{
    position: relative;
    text-align: center;
    width: 30vw;
}
form #submitButton{
    margin-top: 1vh;
    width: 30vw;
}
#Creds form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media only screen and (min-width: 600px) {

    form #user, form #pass, form #submitButton{
        width:300px;
    }
    
}

@media only screen and (max-width: 600px) {
    form #user, form #pass, form #submitButton{
        width:50vw;
    }
}