.make-reservation-modal {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10vh;
    background-color: rgba(235, 235, 235, 0.95);
    border-color: rgba(0,0,0,0.4);
    border-radius: 15px;
    border-style:solid;
}

#make-reservation-modal-close-button{
    align-self: flex-end;
    margin-top: 25px;
    margin-right: 25px;
}

#item-list-modal-header{
    display: flex;
    margin: 10px;
    align-self: center;
    align-items: center;
    flex-direction: column;
    input{
        margin-bottom: 10px;
        text-align: center;
    }
}

#item-list-modal-reservation-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0;
}

#item-list-reservation-container{

    #item-list-li{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        align-content:center;
    }

    background-color: rgba(255,255,255, 0.95);
    border: 1px solid;
    font-size: 1.2em;
    align-self: center;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1vh;
    ul{
        display: flex;
        height: 40vh;
        flex-direction: column;
        user-select: none;
        list-style-type: none;
        box-sizing: content-box;
        padding: 0;
        margin: 0 10px 0 10px;
    }
    li{
        margin: 15px 55px 15px 0;
        border: 1px solid black;
        display: block;
        text-align: left;
        padding:15px 10px 15px 10px;
        
    }
    input{
        display:block;
        -ms-transform: scale(3); /* IE */
        -moz-transform: scale(3); /* FF */
        -webkit-transform: scale(3); /* Safari and Chrome */
        -o-transform: scale(3); /* Opera */
        transform: scale(3);
        cursor: pointer;
        margin-right: 25px;
    }
    input[type="checkbox"]:checked{
        background-color: green;
        accent-color: green;
        opacity: 1;
    }
    input[type="checkbox"]:hover{
        background-color: green;
        opacity: 1;
        accent-color: green;
    }
    input[type="checkbox"]:before{
        background-color: green;
        opacity: 1;
        accent-color: green;
    }
}

#item-list-modal-reservation-container{
    background-color: white;
}

.item-list-modal-scan-error{
    display: flex;
    margin: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    background-color: rgba(235, 235, 235, 0.95);
    border-color: rgba(0,0,0,0.4);
    border-radius: 15px;
    border-style:solid;
}

#make-reservation-button{
    display: flex;
    align-self: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@media only screen and (max-width: 600px) {
    .make-reservation-modal{
        margin-top: 2vh;
        width: 90vw;
        height: 80vh;
    }

    #item-list-reservation-container{
        width: 75vw;
        height: 40vh;
    }

    #item-list-reservation{
        width: 85vw;
        li{
            width:50vw;
        }
    }
    
    #item-list-modal-reservation-container{
        height: 65vh;
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 600px) {
    .make-reservation-modal{
        width: 400px;
        height: auto;
    }
    #item-list-reservation-container{
        width: 300px;
        height: 300px;
    }

    #item-list-reservation{
        width: 350px;
        height: auto;
        li{
            width:200px;
        }
    }

    #item-list-modal-reservation-container{
        height: 600px;
        margin-bottom: 25px;
    }
}
